# Week 1 handin

## 01 Assignment
1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

3. Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).
  - Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

Jeg har lavet assignment 1.(a,b,c,d,e), og 2.(a,b) 
Jeg har prøvet at lave assignment 3, men der er lige nogle problemer med den matematik jeg har lavet og den måde man udregner sandsynlighed med 2 terninger som ikke passer helt

## 03 Solution part 1

In [5]:
# 1.1
names = ["Henrik", "Hanne", "John", "Lise", "Andreas"]
names_with_h = [name for name in names if "H" in name]
print(names_with_h)

['Henrik', 'Hanne']

In [13]:
# 1.2
list(number**3 for number in range(1,100+1))

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [17]:
# 1.3
my_tuple = ()
my_tuple=list((len(name), name) for name in names)
print(my_tuple)

[(6, 'Henrik'), (5, 'Hanne'), (4, 'John'), (4, 'Lise'), (7, 'Andreas')]

In [33]:
# 1.4
random_string = "asdfrew35t43509esdfvkmpso9348q"
number_list = list(char for char in random_string if char.isnumeric())
number_list

['3', '5', '4', '3', '5', '0', '9', '9', '3', '4', '8']

In [38]:
# 1.5
dice1 = [1,2,3,4,5,6]
dice2 = [1,2,3,4,5,6]
combi = set([str(d1) +" "+ str(d2) for d1 in dice1 for d2 in dice2 if d2 >= d1])
print(combi)

{'5 6', '3 3', '4 4', '6 6', '1 3', '2 3', '1 1', '4 6', '3 4', '3 5', '2 5', '1 5', '1 2', '2 6', '1 4', '5 5', '1 6', '2 2', '3 6', '4 5', '2 4'}

## 04 Solution part 2

In [60]:
# 2.1
names_to_dict = ["Mads", "Albert", "Marc", "Marcus"]
names_in_dict = {name: len(name) for name in names_to_dict}
print(names_in_dict)
names_in_dict["Albert"]

{'Mads': 4, 'Albert': 6, 'Marc': 4, 'Marcus': 6}

6

In [66]:
# 2.2
import math
numbers_to_dict = [1,4,8,16,32,64]
numbers_in_dict = {num:math.sqrt(num) for num in numbers_to_dict}
print(numbers_in_dict)

{1: 1.0, 4: 2.0, 8: 2.8284271247461903, 16: 4.0, 32: 5.656854249492381, 64: 8.0}

## 05 Solution part 3

In [44]:
dice1 = [1,2,3,4,5,6]
dice2 = [1,2,3,4,5,6]
dice_dict = {str(d1) +" "+ str(d2): ((d1/d1)/len(dice1) * (d2/d2)/len(dice2))*100 for d1 in dice1 for d2 in dice2 if d2 >= d1}
dice_dict

{'1 1': 2.7777777777777777,
 '1 2': 2.7777777777777777,
 '1 3': 2.7777777777777777,
 '1 4': 2.7777777777777777,
 '1 5': 2.7777777777777777,
 '1 6': 2.7777777777777777,
 '2 2': 2.7777777777777777,
 '2 3': 2.7777777777777777,
 '2 4': 2.7777777777777777,
 '2 5': 2.7777777777777777,
 '2 6': 2.7777777777777777,
 '3 3': 2.7777777777777777,
 '3 4': 2.7777777777777777,
 '3 5': 2.7777777777777777,
 '3 6': 2.7777777777777777,
 '4 4': 2.7777777777777777,
 '4 5': 2.7777777777777777,
 '4 6': 2.7777777777777777,
 '5 5': 2.7777777777777777,
 '5 6': 2.7777777777777777,
 '6 6': 2.7777777777777777}